.cartItems{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-5{
    margin: 1rem;
}

.test-warning {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: red;
  }